:root {
    --bg-color: rgb(19, 19, 20);
    --primary-container-color: rgb(30, 31, 32);
    --secondary-container-color: rgb(40, 42, 44);
    --txt-color: rgb(227, 227, 227);
    --atenuated-txt-color: rgb(197, 197, 197);
    --primary-color: rgb(6, 95, 179);
}

.submitButton {
    background: var(--primary-color);
    font-size: 16px;
    padding: 10px 15px;
    margin: 10px 10px;
}

.toggleType {
    background: var(--secondary-container-color);
    font-size: 16px;
    padding: 10px 15px;
    margin: 10px 10px;
    border: solid 1px var(--atenuated-txt-color);
    box-sizing: border-box;

    &:hover {
        background: var(--primary-color);
        border:none;
        transform: scale(1.05);
        color: var(--txt-color);
    }
}

.length {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
    justify-content: center;
}



section {
    padding: 30px;
    max-width: 80%;
    margin: auto;

    background: var(--primary-container-color);
}

@media(width > 1200px) {
    section {
        max-width: 1200px;
    }
}

fieldset {
    margin: 10px;
    padding: 25px;
    border: 1px solid var(--atenuated-txt-color);
    border-radius: 12px;
}

legend {
    font-size: large;
}