.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  justify-content: space-around;
}

.clearButton {
  margin: 25px 0px;
  background-color: var(--primary-color);
  align-self: end;
}

.solutionSection {
  display: flex;
  flex-flow: column nowrap;
}
