.container {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  padding: 40px;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.clearButton {
  margin: 25px 0px;
  background-color: var(--primary-color);
  align-self: end;
}

.solutionSection {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

span {
  align-self: center;
}
