.vector {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border-left: solid 2px;
  border-right: solid 2px;
  width: fit-content;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  background-color: rgba(255, 255, 255, 0.841);
  width: fit-content;
  margin: 50px auto;
  color: rgb(58, 58, 58);
  border-radius: 12px;
  gap: 18px;
  align-items: center;

  h4 {
    align-self: center;
    margin: 5px 0px;
    font-size: 18px;
  }
}

.solutionContainer {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  gap: 12px;
  background: transparent;
  justify-items: center;
  align-items: center;
  padding: 0;
  width: 200px;
}
