.tableCard {
  display: flex;
  flex-flow: column nowrap;
  background: #dbdbdb;
  color: black;
  padding: 18px 30px;
  width: max-content;
  border-radius: 12px;
  align-items: center;
  font-family: "JetBrains Mono", monospace;

  small {
    display: flex;
  }

  header {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 16px;
    gap: 16px;
  }

  main {
    display: flex;
    flex-flow: column nowrap;
    max-width: fit-content;
  }

  footer {
    display: flex;
    gap: 25px;
    margin: 10px;
    background: var(--primary-container-color);
    color: white;
    align-items: center;
    padding: 5px 15px;
    border-radius: 8px;
  }
}
.title {
  padding: 10px 15px;
  background: var(--primary-color);
  border-radius: 8px;
  color: white;
  font-family: "Inter", sans-serif;
}

.cell {
  display: flex;
  padding: 10px;
  width: 40px;
  height: 20px;
  align-items: center;
  justify-content: center;
}

.basicVariablesRow {
  display: flex;
}

.row {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.footerRow {
  display: flex;
  align-items: center;
  padding: 5px;

  gap: 16px;
}
